        #loginButton{
            width: 250px;
            border-radius: 8px;
            text-align: center;
            padding: 15px 32px;
            display: inline-block;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            border: none;
            color: black;
            background-color: orange;
        }

        label{
            width:250px;
            font-family:Arial;
        }

        #username,#password{
            width: 250px;
            height:40px;
            border-radius: 5px;
            border:1px solid #cccccc
        }

        #return,#borrow{
            width: 120px;
            border-radius: 8px;
            text-align: center;
            padding: 15px 32px;
            display: inline-block;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            border: 2px solid orange;
            color: black;
            background-color: white;
        }

        #return:hover,#borrow:hover{
            color: white;
            background-color: orange;
        }

        #b1,#b2,#r1{
            width: 250px;
            height:30px;
            border-radius: 5px;
            border:1px solid #cccccc
        }